[user]
  name      = dadav
  email     = 33197631+dadav@users.noreply.github.com
[color]
  ui        = auto
[core]
  editor    = nvim
[diff]
  tool      = vimdiff
[difftool]
  prompt    = false
[alias]
  d         = difftool
  lg        = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  conflicts = diff --name-only --diff-filter=U
