* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Hack;
    font-size: 14px;
    min-height: 0;
}

#window {
    border-bottom: 1px solid white;
    margin: 0 10px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#custom-spotify,
#custom-cputemp,
#custom-dirty-memory,
#custom-gammastep,
#custom-pacman,
#custom-journalctl,
#custom-ip,
#idle_inhibitor,
#disk.home {
    padding: 0 10px;
    margin: 0 5px;
}

#disk.home {
    background: #215c53;
}

#language {
    background: #ad765a;
}

#clock {
    background: #64727D;
}

#battery {
    background: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background: #26A65B;
}

@keyframes blink {
    to {
        background: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu,
#custom-cputemp {
    background: #2ecc71;
    color: #000000;
}

#custom-cputemp.low {
    background: #C0FDFB;
    color: #000000;
}

#custom-cputemp.crit {
    background: #F46036;
    color: #000000;
}

#custom-cputemp.high {
    background: #FFA737;
    color: #000000;
}

#custom-dirty-memory {
    background: #000053;
}

#custom-gammastep {
    background: #BE5A38;
}

#custom-pacman {
    background: #C84630;
}

#custom-journalctl {
    background: #F06543;
}

#backlight {
    background: #fc8803;
}

#memory {
    background: #000053;
}

#network {
    background: #2980b9;
}

#custom-ip {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    background: #66cc99;
    color: #000000;
}

#idle_inhibitor {
    background: #2d3436;
}
